[submodule "External/libxml2"]
	path = External/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "External/HandmadeMath"]
	path = External/HandmadeMath
	url = git@github.com:HandmadeMath/HandmadeMath.git
